/* src/components/Banner.css */
.banner {
  background-color: #0745f0;
  background-image: url('./src/assets/grupo.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Hace que la imagen cubra todo el banner */
  background-position: bottom center; /* Mueve la imagen hacia la parte inferior */
  padding: 30px;
  color: white;
  width: 100%;
  height: 300px; /* Ajusta la altura del banner */
  box-sizing: border-box;
  position: relative;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejorar el contraste del texto */
  z-index: -1;
}

.banner-content {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  align-items: center; /* Centra los elementos verticalmente */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-content img {
  margin-right: 20px;
}

.text-content h3, .text-content h1 {
  margin: 0;
  text-align: center;
  padding: 10px; /* Añade espacio alrededor del texto */
  color: yellow; /* Color del texto amarillo */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* Sombra más intensa y visible */
}

.text-content h3 {
  font-size: 20px;
}

.text-content h1 {
  font-size: 32px;
}
