/* Estilos del banner */
.banner {
  background-size: cover;
  background-position: center 50%;
  height: 400px; /* Ajustar la altura del banner */
  box-sizing: border-box;
  position: relative;
}

/* Fondo oscuro encima de la imagen */
.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Un fondo semi-transparente */
  z-index: -1;
}

/* Contenido del banner */
.banner-content {
  display: flex;
  justify-content: flex-start; /* Alineación del contenido a la izquierda */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 20px;
}

/* Estilo para el texto dentro del banner */
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -50px;
}

.banner-content img {
  margin-right: 8px;
  cursor: pointer;
  width: 250px; /* Tamaño reducido del logo */
}

.text-content h3, .text-content h1 {
  margin: 0;
  padding: 5px 0;
  color: yellow;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  line-height: 1.2;
}

/* Estilos para los íconos de redes sociales dentro del banner */
.social-media {
  position: absolute;
  top: 20px; /* Coloca los íconos en la parte superior */
  right: 20px; /* Mueve los íconos hacia la derecha */
  display: flex; /* Usamos flexbox */
  flex-direction: row; /* Alineación horizontal (de izquierda a derecha) */
  gap: 15px; /* Espacio entre los íconos */
  align-items: center; /* Asegura que los íconos estén alineados verticalmente */
}

/* Estilo para el texto de redes sociales */
.social-media p {
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  color: white;
}

/* Estilos para los íconos de Instagram y Facebook */
.instagram-icon, .facebook-icon {
  font-size: 24px; /* Tamaño ajustado para los íconos */
  color: #fff;
  border-radius: 50%; /* Hace que el contorno sea circular */
  padding: 10px; /* Padding ajustado */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 20px; /* Tamaño del círculo */
  height: 20px; /* Tamaño del círculo */
  display: flex;
  justify-content: center;
  align-items: center; /* Centra el ícono dentro del círculo */
}

/* Fondo para el ícono de Instagram */
.instagram-icon {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

/* Fondo para el ícono de Facebook */
.facebook-icon {
  background: linear-gradient(45deg, #1877f2, #4e8bf5);
}

/* Efecto de hover */
.social-icons a:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Card de Matrículas */
.matriculas-card {
  position: absolute;
  bottom: 20px; /* Coloca la tarjeta en la parte inferior */
  right: 20px;  /* Coloca la tarjeta a la derecha */
  background-color: #ffefc5b7;
  color: #333333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 250px;
  z-index: 10;
  transition: transform 0.3s ease;
}

/* Estilos para la tarjeta de Matrículas */
.matriculas-card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.matriculas-card p {
  font-size: 1rem;
  margin: 10px 0;
}

.btn-matriculas {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-matriculas:hover {
  background-color: #388e3c; /* Color más oscuro al pasar el cursor */
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
  .matriculas-card {
    bottom: 20px;
    right: 20px;
    max-width: 200px;
  }

  .banner-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .banner-content img {
    margin-bottom: 10px;
  }

  .text-content h1, .text-content h3 {
    font-size: 1.5rem;
  }

  .social-media {
    top: 20px;
    right: 20px; /* Ajustamos la ubicación para pantallas pequeñas */
  }

  .social-icons {
    gap: 20px;
  }
}

/* Estilos para la imagen de la esquina inferior derecha */
.corner-image {
  position: absolute;
  bottom: 0px;
  left: 120px;
  width: 120px;
  height: auto;
  transition: transform 0.3s ease;
}

/* Efecto de rebote al pasar el mouse */
.corner-image:hover {
  animation: bounce 0.6s ease-in-out;
}

/* Definir la animación de rebote */
@keyframes bounce {
  0% {
    transform: translateY(0); /* Posición inicial */
  }
  30% {
    transform: translateY(-10px); /* Subir un poco */
  }
  50% {
    transform: translateY(0); /* Volver a la posición original */
  }
  70% {
    transform: translateY(-5px); /* Subir menos */
  }
  100% {
    transform: translateY(0); /* Volver a la posición original */
  }
}
