/* Navbar styles */
.navbar {
  background-color: #0077b6;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que el contenido se ajuste en pantallas pequeñas */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* Ajusta los elementos en filas cuando la pantalla es pequeña */
}

/* Estilos del menú desplegable */
.dropdown-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdown-btn:hover {
  color: #f7f339;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f7f339;
  padding: 0.5rem;
  list-style: none;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  min-width: 200px;
  z-index: 1000;
}

.dropdown-menu li {
  white-space: nowrap;
  margin: 0.5rem;
}

.dropdown-menu li a {
  color: #0e0e0e;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

.dropdown-menu li a:hover {
  background-color: #0077b6;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Estilos para el ícono de hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
    align-items: center;
    display: none; /* Oculta el menú por defecto */
    width: 100%;
  }

  .navbar-links.active {
    display: flex; /* Muestra el menú cuando está activo */
    gap: 0;
    flex-direction: column;
    justify-content: center;
  }

  .hamburger {
    display: flex; /* Muestra el ícono de hamburguesa */
  }

  .dropdown-menu {
    position: relative;
    transform: translateX(0);
    top: auto;
    left: auto;
    min-width: 100%;
    box-shadow: none;
  }

  .dropdown-menu li {
    text-align: center;
    width: 100%;
  }
}

