/* Estilos generales para la aplicación */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la página tenga al menos la altura de la ventana */
}

main {
  flex-grow: 1; /* Esto hace que el contenido principal ocupe todo el espacio disponible */
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-top: auto; /* Esto empuja el footer hacia abajo */
}

footer .footer-links a {
  color: rgb(14, 13, 13);
  text-decoration: none;
  margin: 0 1rem;
}

footer .footer-links a:hover {
  text-decoration: underline;
}
